@layer base {
    body {
        @apply font-sans antialiased;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero-gradient {
    background: radial-gradient(circle at 70% 50%, #f0f9ff 0%, #ffffff 100%);
}

.dark .hero-gradient {
    background: radial-gradient(circle at 70% 50%, #1e293b 0%, #0f172a 100%);
}
