@layer base {
    body {
        @apply font-sans antialiased;
    }
}

html {
    scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero-gradient {
    background: radial-gradient(circle at 70% 50%, #f0f9ff 0%, #ffffff 100%);
}

.dark .hero-gradient {
    background: radial-gradient(circle at 70% 50%, #1e293b 0%, #0f172a 100%);
}

.hero_slide {
    width: 100%;
    height: 100%;

}

.hero_slide .swiper-slide {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .hero_slide .swiper-slide {
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column !important;
        gap: 30px;
    }

}

.hero .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0 !important;
    right: auto;
    width: calc(100% - 30px);
    transform: translate(0);
    bottom: 15px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 6px;
    border-radius: 9px;
    background: #D1D5DB;
}

.swiper-pagination-bullet-active {
    width: 40px;
    background: #FF6600;
}

.hero .next:hover svg path,
.hero .prev:hover svg path {
    fill: #fff;
}

@media (max-width: 768px) {

    .hero .next,
    .hero .prev {
        bottom: 25%;
        top: auto;
    }
}